@model Sklep.Models.Product

<form asp-action="EditProduct">
    <main>
        <div class="left">
            <input asp-for="Name" />
            <textarea class="desc" asp-for="Descryption"></textarea>
        </div>
        <div class="right">
            <h3>Ilość przedmiotów: <input asp-for="Number" /></h3>
            <h3>Cena przedmiotu:</h3>
            <input asp-for="Price" />
            <input class="button" type="submit" value="Edytuj" />
        </div>
    </main>
</form>
